<footer>
  <input type="text" id="search" placeholder="Cerca..."/>
  <div id="search-results"></div>
</footer>

<script>
var divResults = document.querySelector('#search-results')
var inputSearch = document.querySelector('#search')

console.log('Initing lunr.js')
var documents = []
{% for post in site.posts %}
documents.push({
  url: '{{ post.url }}',
  title: '{{ post.title }}',
  text: `{{ post.excerpt }}`
})
{% endfor %}
console.log(documents)

// creating index
window.idx = lunr(function() {
  this.ref('url')
  this.field('title')
  this.field('text')

  documents.forEach(doc => {
    this.add(doc)
  })

  console.log('idx ready')
})

// initializing event listener
inputSearch.addEventListener('keyup', e => {
  var query = inputSearch.value

  // first thing we do is cleanup the div
  divResults.innerHTML = ''

  //
  if (query.length < 3) {
    // divResults.style.display = 'none'
    return console.log('Type something more to search..')
  }
  console.log('searching for', query)
  var results = idx.search(['*', query, '*'].join(''))

  var mapped = results.map(result => {
    var doc = documents.find(d => d.url == result.ref)
    result.title = doc.title
    result.text = doc.text
    result.url = doc.url
    return result
  })

  if (!mapped.length) {
    divResults.innerHTML = '<div class="no-results">Nessun risultato</div>'
    appendCloser(divResults)
    return
  }

  // creating result list
  mapped.forEach(result => {
    var a = document.createElement('a')
    var el = document.createElement('div')
    // a
    a.href = result.url || result.ref
    a.innerHTML = result.title
    // el
    el.classList.add('result')
    el.append(a)
    //
    divResults.append(el)
  })

  // show search-results
  if (divResults.style.display != 'block') {
    divResults.style.display = 'block'
    // divResults.style.visibility = 'visible !important;'
    animateCSS('#search-results', 'bounceInUp')
  }
  // finally
  appendCloser(divResults)
})

function appendCloser(div) {
  div.innerHTML += `<a
    class="close"
    href="javascript:void(0)"
    onclick="animateCSS('#search-results', 'bounceOutDown', () => {document.querySelector('#search-results').style.display='none'}); document.querySelector('#search').value = ''"
    >chiudi</a>`
}

function animateCSS(query, animationName, callback) {
    var node = document.querySelector(query)
    node.classList.add('animated', animationName)

    function handleAnimationEnd() {
        node.classList.remove('animated', animationName)
        node.removeEventListener('animationend', handleAnimationEnd)

        if (typeof callback === 'function') callback()
    }

    node.addEventListener('animationend', handleAnimationEnd)
}
</script>
