---
---

$maxWidth: 766px;
// main
$mainColor: brown;
$mainBackgroundColor: white;
// footer
$footerColor: red;
$footerHeight: 3rem;

@import "footer.scss";

// main style

html, body {
  height: 100%;
  border: 0;
  overflow: hidden;
}

body {
  background: url("/assets/img/italian-cuisine.jpg") no-repeat fixed center;
  background: url("/assets/img/infografica.jpg") no-repeat fixed center;
  background-size: cover;
  font-size: 8px;
}

header {
  text-align: center;
}

.content {
  max-width: $maxWidth;
  background-color: $mainBackgroundColor;
  margin: auto;
  // min-height: 100%;
  overflow: auto;

  section {
    padding: 1rem;
  }

  // header
  .header {
    text-align: center;
    color: wheat;

    .title {
      font-family: 'Big Shoulders Display', cursive;
      font-size: 3rem;
    }
    .subtitle {}
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: $maxWidth;
    height: $footerHeight;
    background-color: $footerColor;
  }

  .menu {
    background-color: $mainColor;

    * {
      background-color: $mainColor;
    }
  }
}
