---
---

$maxWidth: 766px;
// main
$mainColor: brown;
$mainBackgroundColor: white;
// footer
$footerColor: red;
$footerHeight: 3rem;

@import "footer.scss";

// main style

html, body {
  height: 100%;
  border: 0;
  overflow: hidden;
}

body {
  background: url("/assets/img/italian-cuisine.jpg") no-repeat fixed center;
  background: url("/assets/img/infografica.jpg") no-repeat fixed center;
  background-size: cover;
  font-size: 8px;
}

header {
  text-align: center;
}

.content {
  max-width: $maxWidth;
  background-color: $mainBackgroundColor;
  margin: auto;
  height: 100%;

  .main {
    padding: 1rem;
    overflow: auto;
    height: calc(100% - 16rem);
  }

  // header
  .header {
    text-align: center;
    color: wheat;

    a {
      color: inherit;
    }

    .title {
      font-family: 'Big Shoulders Display', cursive;
      font-size: 3rem;
    }
    .subtitle {}
  }

  .menu {
    a {
      &.active {
        background-color: lighten($mainColor, 20%);
      }
    }
  }

  .footer {
    max-width: $maxWidth;
    background-color: $footerColor;

    footer {
      text-align: center;
      #search {
        width: 100%;
        margin: auto;
      }
      #search-results {
        display: none;
        // visibility: hidden;
        position: fixed;
        height: 50%;
        border-top: 1px solid lightgrey;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        left: 0;
        right: 0;
        bottom: 4.5rem;
        background: white;
        .close {
          color: $mainColor;
          position: absolute;
          top: .5rem;
          right: 1rem;
        }
        .result {
          text-align: left;
          margin: .5rem;
          border-bottom: 1px solid lightgrey;
          padding-bottom: .5rem;
        }
      }
    }
  }

  .menu {
    background-color: $mainColor;

    * {
      background-color: $mainColor;
    }
  }

  .preview-block {

  }
}
